@media screen and (min-width: 639px){

    .d-sm-none{
        display: none;
    }
    
    .d-sm-block{
        display: block;
    }
    
    .d-sm-inline{
        display: inline;
    }
    
    .d-sm-in-b{
        display: inline-block;
    }
    
    .d-sm-flex{
        display: flex;
    }

    #sidebar{
        flex-basis: 170px;
    }

    .logo-container{
        height: 70px;
        padding: 15px 45px 10px 10px;
    }

    .logo-large.d-sm-block{
        max-width: 100%;
        height: auto;
    }



    .active-b::before{
        content: "";
        border-right: 4px solid greenyellow;
        display: inline-block;
        height: 34px;
        vertical-align: middle;
    }

    .user{
        margin-top: 0;
        text-align: left;
        margin-left: 5px;
    }
    
    .lower-nav{
        padding-top: 0;
    }

    
}